:host {
  display: block;
}

.mat-mdc-select-value,
.mat-mdc-select-arrow,
.mat-mdc-form-field .mat-mdc-floating-label {
  color: white !important;
}

.mat-mdc-select-value-text {
  color: white !important;
}

.mdc-text-field--outlined:not(.mdc-text-field--disabled)
  .mat-mdc-text-field-wrapper.mdc-text-field--outlined .mdc-notched-outline__leading,
.mdc-text-field--outlined:not(.mdc-text-field--disabled)
  .mat-mdc-text-field-wrapper.mdc-text-field--outlined .mdc-notched-outline__trailing {
  border-color: rgba(255, 255, 255, 0.35) !important;
}